*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --emerald-color: rgb(30, 51, 30);
    --gold-color: rgb(182, 182, 40);
}
#cover{
    background-color: var(--emerald-color);
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
}
#covertxt {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    color: white;
    position: relative; 
    z-index: 3;
}
#covertxt p{
    font-style: italic;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
    margin-bottom: 10px;
}
.sec1{
    padding: 10px;
}
.sec1 h2{
    padding-left: 10px;
}
.form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 20px;
}
input{
    width: auto;
}
form{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    gap: 20px;
    flex-direction: column;
}
#form{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.form img{
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

   


