body {
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    box-sizing: border-box;
}

header {
    background-color:  rgb(12, 50, 12);
    color: white;
    padding: 20px;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li {
    color: white;
    text-decoration: none;
}

.contact-section {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-section h2 {
    text-align: center;
    color: #4a2c2c;
}

.contact-section p {
    text-align: center;
    color: #555;
}

label {
    display: block;
    margin: 15px 0 5px;
    color: #333;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color:  rgb(12, 50, 12);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #6a4c4c;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: rgb(12, 50, 12);
    color: white;
    width: 100%;
    bottom: 0;
}