:root {
    --emerald-color: rgb(30, 51, 30);
    --gold-color: rgb(226, 199, 46);
}
header {
    text-align: center;
}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    padding-left: 10px;
    padding-right: 10px;

}
#logo{
    width: 120px;
    height: 50px;
    background-image: url(images/Logo.PNG);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
nav ul {
    list-style-type: none;
    display: flex;
    gap: 12px;
    justify-content: space-between;
}
nav ul li {
    margin: 0 15px;
    font-size: 18px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}
nav ul li a::after {
    content: '';
    height: 3px;
    width: 0%;
    background: white;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}
nav ul li a:hover::after {
    width: 100%;
}
#icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px; 
    padding: 5px;
    z-index: 5;
}
.headericons{
    background-color: transparent;
    border: none;
    width: 30px;
}
.head{color: white;}
.head:hover{
    transform: translateY(-2px);
}
.hamburger {
    display: none; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    left: 20px;
    z-index: 5;
    top: 15px;
}
.hamburger span{
    width: 40px;
    height: 3px;
    border-radius: 50px;
}
nav.show{
    transform: translateX(250px); 
}
.nav-container.scrolled {
    transition: background-color 0.3s ease;
    background-color: white;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.363);
}
.scrolled{
    nav ul li a{
        color:black;
    }
    .nav-container nav ul li a{
        transition: color 0.3s ease;
    }
    .head{
        color: black;
    }
    nav ul li a::after{
        background-color: black;
    }
    .hamburger span{
        background-color: black;
    }

}
.backbtn{display: none;}

.hamburger.hamclicked span:nth-child(1) {
    transform: rotate(45deg);
    transform-origin: 5% 50%;
}
.hamburger.hamclicked span:nth-child(2) {
    opacity: 0;
}
.hamburger.hamclicked span:nth-child(3) {
    transform: rotate(-45deg);
    transform-origin: 5% 50%;
}
.hamburger.hamclicked span{
    transition: transform 0.3s ease, opacity 0.3s ease;

}
#backbtndiv{
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
}
#backbtn{
    background-color: transparent;
    border: none;
    color: var(--emerald-color)
}
#backbtn:hover{
    cursor: pointer;
}
@media screen and (max-width: 750px) {
    .nav-container.scrolled {
        transition: background-color 0.3s ease;
    }
    .nav-container.scrolled {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 7px;
        position: fixed;
        top: 0;
        left:0;
        width: 100%;
        z-index: 5;
        padding-left: 10px;
        padding-right: 10px;
        height: 60px;
    }
    .nav-container nav{
        display: none; 
        flex-direction: column;
        align-items: center;
        background-color: var(--emerald-color);
        position: absolute;
        left: -250px; 
        top: 0;
        z-index: 4;
        padding: 10px;
        width: 250px; 
        height: auto;
        border-bottom-right-radius: 10px;
        transition: transform 0.9s ease; 

    }
    .nav-container nav.show {
        display: flex;
        transform: translateX(250px); 
    }
    nav ul{
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
    nav ul li a{
        font-size: 20px;
    }
    .hamburger{
        display: flex; 
        cursor: pointer;
    }
    .hamburger span{
        background-color: white;
    }
    .nav-container nav.show{
        display: flex;
    }
    #logo{
        display: none;
    }
    #icons{
        position: absolute;
        right: 20px;
        top: 10px;
        display: flex;
        gap: 15px;
        z-index: 5;
    }
    .scrolled{
        nav ul li a{
        color:white;
    }
    .nav-container nav ul li a{
        transition: color 0.3s ease;
    }
    nav ul li a::after{
        background-color: white;
    }
    .hamclicked span{
        background-color: white;
    }
    }
 
}