header {
    text-align: center;
}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
}
#logo img{
    width: 100px;
}
.head {
    color: white;
}
nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}
nav ul li {
    margin: 0 15px;
    font-size: 20px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    position: relative;
    display: inline-block;
    font-family:Arial, Helvetica, sans-serif
}
nav ul li a::after{
    content: '' ;
    height: 3px; 
    width: 0%; 
    background: white;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.hamburger{
    display:none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.hamburger span{
    background-color: black;
    width: 40px;
    height: 5px;
    border-radius: 50px;
}
.hamburger:hover{
    span{background-color: white;}
}
@media screen and (max-width: 667px)
{
    .nav-container nav,.nav-container h3{
        display:none;
    }
    #logo{
        display: none;
    }
    .hamburger{
        display: flex;
    }
}
#icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px; 
    padding:20px;
}
#icons img {
    width: 20px;
    height: 20px; 
}
#icons #carticon{
    width: 30px;
    height: 30px;
}
#icons #usericon{
    width: 20px;
    height: 20px;
}
.material-symbols-outlined{
    color: var(--emerald-color);
    font-size: 40px;
    position: fixed;
    bottom: 240px;
    right: 10px;
    padding: 5px;
    cursor: pointer;
}
.backbtn{display: none;}
.scrolled{
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.212);
    nav ul li a{
        color: black;
    }
    .nav-container {
        transition: background-color 0.3s ease;
    }
    .nav-container nav ul li a {
        transition: color 0.3s ease;
    }
    .head{
        color: black;
    }
}
.scrolledd{
        display: block;
}


