*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --emerald-color: rgb(30, 51, 30);
    --gold-color: rgb(182, 182, 40);
}
main{
    height: 100vh;
    background-color:beige;
}