*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --emerald-color: rgb(30, 51, 30);
    --gold-color: rgb(226, 199, 46);
}
#cover{
    background-image: url(images/homeimgs/cover.jfif);
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
}
#cover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 650px;
    background-color: rgba(58, 56, 56, 0.5); 
    z-index: 1; 
}
#covertxt {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    color: white;
    position: relative; 
    z-index: 3;
}
#covertxt p{
    font-style: italic;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#covertxt button{
    padding: 10px;
    width: 110px;
    height: 40px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    background-color: var(--emerald-color);
}
#covertxt a button{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
#covertxt button:hover{
    transform: scale(1.04);
}
main {
    padding: 20px;
}
.pdts h2{ 
    text-align: center;
}
.discount button:hover{
    background-color: rgb(108, 71, 26);
}

@media screen and (max-width: 667px){
    .image-gallery{
        flex-direction: column;
    }
}
.discount{
    display: flex;
    justify-content: space-between;
    margin: 40px;
    padding: 40px;
    justify-items: center;
    justify-content: center;
    gap: 50px;
}
.dis1,.dis2{
    background-image: url(images/aboutimg/about4.jfif);
    width: 400px;
    height: 280px;
    background-position-x: center;
    background-position-y: top;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow:  10px 10px 15px rgba(0, 0, 0, 0.5);
}

.dis{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.dis p{
    margin-top: 90px;
    margin-left: 60px;
}
.dis h2{
    margin-left: 100px;
    
}
.discount p{
    font-size: 30px;
    margin-top: 100px;
    margin-left: 100px;
}
.discount h2{
    margin-left: 100px;
}
.big h2{
    font-size: 50px;
}
.discount button{
    background-color: var(--emerald-color);
    color: white;
    font-size: 17px;
    margin-top: 180px;
    margin-left: 250px;
    width: 100px;
    height: 40px;
}
.big{
    width: 600px;
    height: 600px;
    background-image: url(images/contactimg/contact1.jfif);
    background-position-x: center;
    background-position-y: top;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    box-shadow:  10px 10px 15px rgba(0, 0, 0, 0.5);
}
.container {
    text-align: center;
    width: 80%;
    max-width: 600px;
}

.section {
    padding: 20px;
    background-color: #fff;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.controls {
    margin-top: 20px;
}

.add-btn {
    background-color: rgb(8, 46, 8);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 10px;
    border-radius: 5px;
}

 #prevBtn:hover {
    background-color: green;
}
#nextBtn:hover {
    background-color: green;
}
.tes{
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    max-width: 300px;
    background-color: var(--emerald-color);
    color: var(--emerald-color);
}
.Test h2{
    display: flex;
    justify-content: center;
}

.close {
    color: #a21919;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: 10px;
}

.close:hover{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#btns{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}
.product-card{
    background-color: white;
    width: 400px;
    height: 400px; 
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s ease;
    border: 1px solid rgba(0, 0, 0, 0.096);
}
.product-card:hover {
    transform: scale(1.04);
}
.product-card .card-img-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.product-card img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    transition: opacity 0.3s ease;
}
.card-img-container h3{
    margin-top: 7px;
    font-size: 20px;
}
.product-card:hover{
    .card-img-container h3{
        display: none;
    }
}
.product-card:hover .card-overlay {
    opacity: 1;
    display: flex;
}
.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    display: hidden;
    transition: opacity 0.3s ease;
}
.card-overlay h3 {
    font-size: 20px;
    margin: 10px 0;
}
.card-overlay .price {
    font-size: 16px;
}
.card-overlay button {
    background-color:var(--emerald-color);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.card-overlay button:hover {
    background-color: #207733;
}